.game {
	background: white;
	width: 150px;
	height: 160px;
	margin: 10px;
	padding: 10px;
	border: 6px solid #9b3b00;
	float: left;
}

body {
	font-family: 'Schoolbell', arial, serif;
	background: #849644;
}

h1 {
    margin-left: 40px;
}

img {
    margin: 5px;
}

a {
    padding-top: 15px;
}

input {
	margin-left: 50px;
}

input:focus, input:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
}