#board {
	background: black;
	width: 150px;
	height: 160px;
	margin: 10px;
	padding: 10px;
	border: 6px solid #9b3b00;
}

body {
	font-family: 'Schoolbell', arial, serif;
	background: #849644;
}

h1 {
    margin-left: 20px;
}

img {
    margin: 5px;
}