/*----------------------------------------------------------*/
body {
    background-color: #A0BEEA;
    font-family: verdana;
    max-width: 600px;
    margin: auto;
    color: gray;
}

/*----------------------------------------------------------*/
header {
    font-size: 1.3em;
    text-align: center;
    color: #0099FF;
}

header span {
    color: #c09;
}

.header-beta {
    float: right;
}

/*----------------------------------------------------------*/
#board {
    background-color: white;
    width: auto;
    padding: 10px;
    overflow: hidden; /* Fix for submit button */
}

/*----------------------------------------------------------*/
.message {
    background-color: #B2F0B2;
    border: 1px solid;
    border-color: #4DFF4D;
    font-size: 0.8em;
    padding: 5px 5px 15px 5px;
    margin-bottom: 5px;
    word-wrap: break-word; /* Breaks longer words */
}

.messageP {
    max-width: 90%;
    margin: 2px;
}

.time {
    text-align: right;
    font-size: 0.6em;
    margin-bottom: -10px;
}

.messageIcons {
    float: right;
    margin-left: 2px;
}

/*----------------------------------------------------------*/
#amountOfMessages {
    text-align: right;
    font-size: 0.5em;
}

/*----------------------------------------------------------*/
textarea {
    width: 96%;
    padding: 10px;
    font-size: 1em;
    resize: none; /* Removes resize element, bottom right corner */
}

textarea:focus {
    background-color: #E0FFC2;
}

input {
    float: right;
    height: 30px;
}

/* Issue: resizing to smaller size = textarea's right side margin disappears */